<div class="d-flex" id="stepperDots">
    <!-- <div id="stepperDot"></div>
    <div class="mx-2 step-circle step-circle-active" ></div>
    <div class="mx-2 step-circle"></div>
    <div class="mx-2 step-circle"></div>
    <div class="mx-2 step-circle"></div>
    <div class="mx-2 step-circle"></div> -->
</div>
<!-- //includeing products html page, parsing how many dots or total steps and which dot had the blue background  or active 
only 1 div coz not sure if how many dots active, tht div will be generated multipls time  -->
<script>
    const stepper = document.getElementById('stepperDots');
    const stepperParent = stepper.parentElement;
    //converting to string integer
    let currentStep = parseInt(stepperParent.getAttribute("current-step"));
    let totalSteps = parseInt(stepperParent.getAttribute("total-steps"));

    //will create loop to check how many steps
    for(let i=0; i<totalSteps; i++) {
        const element = document.createElement('div');
        element.classList.add('mx-2');
        element.classList.add('step-circle');

        //what circle to be active
        if ( i+1 == currentStep ) { element.classList.add('step-circle-active'); }
        stepper.appendChild(element);
    }
</script>